.video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
