.wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 768px) {
    gap: 30px;
  }

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.video {
  width: 100%;
  aspect-ratio: 4/1;
  object-fit: cover;
  border-radius: 24px;

  @media (max-width: 992px) {
    aspect-ratio: 2/1;
  }

  @media (max-width: 500px) {
    aspect-ratio: 1/1;
  }
}

.header {
  display: grid;
  grid-template:
    'year title'
    'stek desc';
  gap: 20px 140px;
  grid-template-columns: 40px;

  @media (max-width: 992px) {
    gap: 20px 80px;
  }

  @media (max-width: 500px) {
    grid-template:
      'title'
      'year'
      'desc'
      'stek';
  }
}

.headerInfo {
  grid-area: title;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.year {
  grid-area: year;
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
    color: var(--Gray, var(--Gray, #8c8c8c));
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.subTitle {
  color: var(--Gray, var(--Gray, #8c8c8c));
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.steks {
  grid-area: stek;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 20px;
}

.tag {
  color: var(--Violet, var(--Violet, #5348d1));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.64px;
  text-transform: lowercase;

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.desc {
  grid-area: desc;
  color: var(--text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.56px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.middle {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 300px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 100%;
  }
}

.firstImg {
  position: relative;
  min-width: 300px;
  height: 100%;
  border-radius: 24px;

  @media (max-width: 768px) {
    aspect-ratio: 2/1;
    width: 100%;
  }
}

.secondImg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: #fff;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & > img {
    position: relative !important;
    border-radius: 24px !important;
  }

  @media (max-width: 992px) {
    min-width: 300px;
  }

  @media (max-width: 768px) {
    aspect-ratio: 2/1;
    background: transparent;
    padding: 0px;

    & > img {
      position: absolute !important;
      object-fit: cover !important;
    }
  }
}

.footer {
  display: grid;
  grid-template:
    'result desc'
    '_ button'
    '_ next';
  gap: 40px 140px;

  @media (max-width: 992px) {
    gap: 20px 80px;
  }

  @media (max-width: 768px) {
    grid-template:
      'desc'
      'result'
      'button'
      'next';
    gap: 20px;
  }
}

.result {
  color: var(--Gray, var(--Gray, #8c8c8c));
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;
  grid-area: result;

  @media (max-width: 992px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.footerDesc {
  color: var(--text);

  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.2px;
  grid-area: desc;

  @media (max-width: 992px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: next;
  cursor: pointer;

  @media (max-width: 500px) {
    gap: 10px;
  }
}

.nextTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.nextProject {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 992px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.nextProjectName {
  color: var(--Gray, var(--Black, #8c8c8c));
}

.arrow {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 992px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.btn {
  grid-area: button;

  & > button {
    max-width: 437px !important;
    width: 100% !important;
  }
}
