.inner {
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    )
  );
}

.wrap {
  margin-top: 235px;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 120px;

  @media (max-width: 992px) {
    margin-top: 120px;
    gap: 60px;
  }

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--White, var(--Color, #fff));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.64px;
  text-transform: lowercase;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.subTitle {
  color: var(--White, var(--Color, #fff));
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 992px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.swiper {
  display: none;

  @media (max-width: 992px) {
    display: block;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.cardDesc {
  color: var(--Black, var(--Black, #262626));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.cardDescBlue {
  color: #5348d1;
}
