.inner {
  position: relative;
  overflow: hidden;
  padding-top: 194px;

  @media (max-width: 992px) {
    padding-top: 120px;
  }

  @media (max-width: 768px) {
    padding-top: 156px;
  }
}

.bg {
  position: absolute;
  width: 1700px;
  height: 1400px;
  top: -200px;
  right: 0px;
  z-index: 0;

  @media (max-width: 1440px) {
    right: -200px;
  }

  @media (max-width: 992px) {
    width: 1000px;
    height: 700px;
    top: -100px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 68px;
  position: relative;
  z-index: 2;

  @media (max-width: 992px) {
    gap: 60px;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > :nth-child(1) {
    }
    & > :nth-child(2) {
      order: 1;
    }
    & > :nth-child(3) {
      order: 2;
    }
    & > :nth-child(4) {
      order: 9;
    }
    & > :nth-child(5) {
      order: 3;
    }
    & > :nth-child(6) {
    }
    & > :nth-child(7) {
      order: 4;
    }
    & > :nth-child(8) {
      order: 6;
    }
    & > :nth-child(9) {
      order: 5;
    }
  }
}

.card {
  padding: 18px;
  border-radius: 24px;
  background: var(--buttonText);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &:hover {
    transform: translateY(-5px);
    background: var(--header);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    html[data-theme='light'] & {
      border-color: rgba(0, 0, 0, 0.05);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }
  }

  @media (max-width: 992px) {
    height: 100%;
    gap: 20px;

    &:hover {
      transform: none;
    }
  }
}

.cardTitle {
  color: var(--button);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.cardDesc {
  color: var(--Gray, var(--Gray, #8c8c8c));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.comment {
  padding: 18px;
  border-radius: 24px;
  border: 1px solid var(--Gray, #8c8c8c);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--button);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 992px) {
    height: 100%;
    gap: 20px;

    &:hover {
      transform: none;
    }
  }
}

.commentDesc {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.8px;
}

.manager {
  display: flex;
  align-items: center;
  gap: 12px;
}

.managerWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  align-items: flex-start;
}

.managerName {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.8px;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.managerDesc {
  color: var(--greyText-2);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.56px;
}

.empty {
  @media (max-width: 992px) {
    display: none;
  }
}
