.button {
  display: flex;
  height: 43px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px;
  outline: none;
  font-family: 'Inter';
  white-space: nowrap;
  background: var(--button);
  color: var(--buttonText);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: all 0.3s;

  &:not(:disabled):hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.7;
  }

  &.s {
    width: max-content;
    padding: auto;
    padding: 10px;
    height: 37px;
    font-size: 16px;
  }

  &.m {
    width: max-content;
    padding: 12px 20px;
    height: 43px;
    font-size: 16px;
  }

  &.l {
    height: 68px;
    padding: 22px;
    width: max-content;
    font-size: 24px;

    @media (max-width: 1500px) {
      font-size: 18px;
      padding: 12px;
    }
  }

  &.square {
    width: 54px;
    height: 54px;
    border-radius: 8px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.primary {
    background: var(--button);
    color: var(--buttonText);

    &:not(:disabled):hover {
      background: #a594fd;
      color: #fff;
      opacity: 1;
    }
  }

  &.secondary {
    background: var(--button);
    color: var(--buttonText);
  }
}
