:root {
  --font-suisse: Inter, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-SemiBold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Bold.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Black.woff');
  font-weight: 900;
}
