.bg {
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    )
  );
}

.wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;

  @media (max-width: 1439px) {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 60px;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.title {
  color: var(--Color, #fff);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
  letter-spacing: -1.6px;
  max-width: 775px;
  width: 100%;

  @media (max-width: 1439px) {
    /* H1/mobile */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    letter-spacing: -1.2px;
    max-width: 655px;
  }

  @media (max-width: 767px) {
    /* H2/mobile */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
    letter-spacing: -0.8px;
  }
}

.partners {
  display: flex;
  align-items: center;
  gap: 165px;

  @media (max-width: 1439px) {
    gap: unset;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > div:nth-child(even) {
      justify-self: flex-end;
    }
    gap: 20px;
  }
}

.block {
  & svg {
    color: #fff;
  }

  @media (max-width: 1439px) {
    &:nth-child(1) {
      & svg {
        width: 55px;
        height: 40px;
      }
    }

    &:nth-child(2) {
      & svg {
        width: 109px;
        height: 28px;
      }
    }

    &:nth-child(3) {
      & svg {
        width: 118px;
        height: 24px;
      }
    }

    &:nth-child(4) {
      & svg {
        width: 118px;
        height: 28px;
      }
    }

    &:nth-child(5) {
      & svg {
        width: 47px;
        height: 46px;
      }
    }
  }

  @media (max-width: 767px) {
    &:nth-child(5) {
      display: none;
    }
  }
}
