.DialogOverlay {
  background: rgba(38, 38, 38, 0.6);
  position: fixed;
  inset: 0;
  animation: overlayShow 450ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 5;
}

.ContentWrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.DialogContent {
  animation: contentShow 0.5s ease-in-out;
  background: #262626;
  padding: 40px;
  min-width: 350px;
  max-width: 888px;
  width: 70%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  @media (max-width: 992px) {
    max-width: 723px;
  }

  @media (max-width: 768px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: 500px) {
    padding: 24px 20px;
    padding-bottom: 0;
    height: 100%;
  }
}

.DialogContent:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}

.DialogTitle {
  color: var(--textColor);
  font-family: 'PP Right Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.92px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentCross {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(-80px);
  }
}

@keyframes contentShow {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}

.closeIcon {
  z-index: 9999;
  position: absolute;
  top: 40px;
  transform: translateX(-80px);
  animation: contentCross 1s ease-in-out;
}
