.wrap {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 100px;

  & > div {
    overflow-y: hidden;
  }

  @media (max-width: 768px) {
    padding-top: 60px;
    gap: 45px;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.block {
  margin-left: 165px;

  @media (max-width: 768px) {
    margin-left: 70px;
  }
}

.drop {
  width: 75px;
  height: 55px;

  @media (max-width: 768px) {
    width: 55px;
    height: 40px;
  }

  & > svg > path,
  & > svg > rect {
    fill: #fff;
  }
}

.ruking {
  width: 151px;
  height: 40px;

  @media (max-width: 768px) {
    width: 109px;
    height: 28px;
  }

  & > svg > path,
  & > svg > rect {
    fill: #fff;
  }
}

.everypet {
  width: 163px;
  height: 34px;

  @media (max-width: 768px) {
    width: 118px;
    height: 24px;
  }

  & > svg > path,
  & > svg > g > rect {
    fill: #fff;
  }
}

.merlines {
  width: 164px;
  height: 38px;

  @media (max-width: 768px) {
    width: 118px;
    height: 27px;
  }

  & > svg > path,
  & > svg > rect {
    fill: #fff;
  }
}

.rabbit {
  width: 66px;
  height: 64px;

  @media (max-width: 768px) {
    width: 46px;
    height: 46px;
  }

  & > svg > path,
  & > svg > rect {
    fill: #fff;
  }
}

html[data-theme='light'] .drop,
html[data-theme='light'] .ruking,
html[data-theme='light'] .everypet,
html[data-theme='light'] .merlines,
html[data-theme='light'] .rabbit {
  & > svg > path,
  & > svg > g > rect {
    fill: #262626;
  }
}
