.wrap {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 100px;

  & > div {
    overflow-y: hidden;
  }

  @media (max-width: 768px) {
    padding-top: 60px;
    gap: 45px;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}
