.wrap {
  padding: 210px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 768px) {
    padding: 120px 0;
    gap: 40px;
  }

  @media (max-width: 500px) {
    padding: 90px 0;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;
  white-space: break-spaces;
  max-width: 580px;

  @media (max-width: 768px) {
    font-size: 40px;
    max-width: 100%;
  }

  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--card, #262626);
  overflow: hidden;
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;

  & > div {
    & > a {
      opacity: 0;
    }

    & > span {
      position: absolute;
      bottom: 24px;
    }
  }

  &:hover > div {
    & > a {
      opacity: 1;
    }

    & > span {
      bottom: 94px;
    }

    @media (max-width: 768px) {
      & > a {
        opacity: 0;
      }

      & > span {
        position: absolute;
        bottom: 24px;
      }
    }
  }
}

.gradient {
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    )
  );

  height: 11px;
  width: 100%;
}

.cardInner {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  flex-grow: 1;
  width: 100%;
  position: relative;

  @media (max-width: 500px) {
    padding: 18px;
  }
}

.cardTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.28px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.cardTexts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardUl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardParam {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  & svg {
    min-width: 10px;
    min-height: 17px;
  }
}

.cardParamDesc {
  color: var(--tagText);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.36px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.price {
  color: var(--Violet, #5348d1);
  text-align: right;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;
  transition: all 0.1s ease-in-out;
  right: 32px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    right: 18px;
  }
}

.linkBtn {
  transition: all 0.3s ease-in-out;

  & button {
    height: 52px !important;

    @media (max-width: 500px) {
      height: 40px !important;
    }
  }
}

.mobileBtn {
  display: none;
  width: 100%;

  & a {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}
