.wrap {
  background: linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    ),
    var(--Black, #262626);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 14px;

  @media (max-width: 600px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.title {
  color: var(--Color, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.arrow {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 108.523%;
  letter-spacing: -1.44px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}
