.wrap {
  padding-top: 210px;
  display: grid;
  gap: 100px;
  grid-template:
    'title comment'
    'list list';

  @media (max-width: 992px) {
    padding-top: 120px;
    gap: 40px;
    grid-template:
      'title'
      'list'
      'comment';
  }

  @media (max-width: 500px) {
    padding-top: 90px;
  }
}

.title {
  grid-area: title;
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;
  white-space: break-spaces;

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.comment {
  justify-self: flex-end;
  padding: 18px;
  grid-area: comment;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 426px;

  @media (max-width: 992px) {
    max-width: 397px;
    justify-self: flex-start;
  }
}

.commentDesc {
  color: var(--text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.8px;
}

.manager {
  display: flex;
  align-items: center;
  gap: 10px;
}

.managerWrap {
  display: flex;
  flex-direction: column;
}

.managerName {
  color: var(--text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.8px;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.managerDesc {
  color: var(--greyText);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.56px;
}

.list {
  grid-area: list;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1200px) {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    gap: 10px;
  }
}

.item {
  padding: 18px;
  border-radius: 24px;
  background: var(--buttonText);
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: auto;
    gap: 40px;
  }

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.itemTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.6px;

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  color: var(--Violet, #5348d1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  padding: 4px 12px;
  border-radius: 100px;
  border: 1px solid var(--Violet, #5348d1);
  white-space: nowrap;

  @media (max-width: 500px) {
    font-size: 12px;
  }
}
