.wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;

  @media (max-width: 992px) {
    gap: 35px;
    margin-top: 80px;
  }

  @media (max-width: 768px) {
    gap: 30px;
    margin-top: 60px;
  }
}

.title {
  color: var(--Violet, #5348d1);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.64px;
  text-transform: lowercase;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    91deg,
    rgba(17, 102, 102, 0.61) -52.21%,
    rgba(84, 0, 110, 0.27) 10.45%,
    #a594fd 40.95%,
    #7696ee 67.33%,
    #c3b1f0 91.24%,
    #080b18 119.26%
  );
}

.block {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.blockInner {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 100%;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.headBlockInner {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 100%;

  @media (max-width: 992px) {
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.index {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  width: 50px;
  min-width: 50px;

  @media (max-width: 992px) {
    font-size: 14px;
    width: max-content;
  }
}

.blockTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;
  max-width: 580px;
  white-space: break-spaces;

  @media (max-width: 992px) {
    font-size: 20px;
    max-width: 100%;
  }
}

.blockTitleBlue {
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;
  max-width: 350px;

  @media (max-width: 992px) {
    font-size: 20px;
    max-width: 100%;
  }
}

.desc {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 992px) {
    font-size: 14px;
    max-width: 100%;
  }
}

.detailsTitle {
  color: var(--text);
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  white-space: nowrap;
  margin-left: 20px;

  @media (max-width: 992px) {
    font-size: 14px;
    margin-left: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 49%;

  @media (max-width: 992px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    gap: 10px;
  }
}

.formTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.formDesc {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.linkBtn {
  & button {
    width: 310px !important;
    height: 52px !important;

    @media (max-width: 500px) {
      width: 280px !important;
      height: 40px !important;
      font-size: 14px !important;
    }
  }
}

.formInner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}
