.wrap {
  position: relative;
  background-color: var(--modal);
  padding: 40px;
  max-width: 770px;
  width: 100%;
  z-index: 2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 992px) {
    max-width: 728px;
    margin: 0 30px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
  }

  @media (max-width: 500px) {
    height: 100dvh;
    border-radius: 0;
    margin: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.desc {
  color: var(--text);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 12px;

  & > span {
    color: var(--Red, var(--Red, #d21722));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.28px;
    white-space: break-spaces;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 40px;

    & > button {
      width: 100%;
    }
  }
}
