.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.image {
  width: 100%;
  height: 232px;
  position: relative;

  & > img {
    border-radius: 14px;
  }

  @media (max-width: 500px) {
    aspect-ratio: 1;
    height: auto;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.desc {
  color: var(--greyText);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.64px;
  text-transform: lowercase;

  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.wrap {
  width: 100%;
}

.smallSlide {
  width: 200px !important;

  @media (max-width: 992px) {
    width: max-content !important;
  }
}

.bigSlide {
  width: 410px !important;

  @media (max-width: 1430px) {
    width: 230px !important;
  }

  @media (max-width: 992px) {
    width: max-content !important;
  }
}
