.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 200px;

  @media (max-width: 1340px) {
    gap: 20px;
  }

  @media (max-width: 992px) {
    padding-bottom: 120px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.title {
  color: var(--Violet, #5348d1);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.64px;
  text-transform: lowercase;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.subTitle {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 992px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 250px;
}

.tag {
  border-radius: 100px;
  background: var(--tag);
  padding: 4px 12px;
  color: var(--Gray, var(--tagText));
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.swiperWrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
