.wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-top: 118px;
  padding-bottom: 161px;

  @media (max-width: 1439px) {
    gap: 49px;
    padding-bottom: 120px;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -3.2px;

  @media (max-width: 1439px) {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1.6px;
  }

  @media (max-width: 767px) {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    letter-spacing: -1.2px;
  }
}

.video {
  width: 100%;
  height: 239px;
  object-fit: cover;
  border-radius: 24px;

  @media (max-width: 767px) {
    height: 273px;
  }
}
