.wrap {
  padding: 24px;
  max-width: 420px;
  width: 100%;
  position: fixed;
  z-index: 999;
  right: 20px;
  border-radius: 14px;
  background: var(--Color, #fff);
  box-shadow: 0px 10px 20px 0px rgba(40, 35, 98, 0.15);
  transition: bottom 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 500px) {
    transform: translateX(-50%);
    left: 50%;
    width: 280px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.desc {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.64px;

  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 500px) {
    & > button {
      width: 100%;
    }
  }
}

.buttonDark {
  width: max-content;
  border-radius: 6px;
  background: var(--Black, #262626);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.64px;
    text-transform: lowercase;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.buttonLight {
  width: max-content;
  border-radius: 6px;
  border: 1px solid var(--Black, #262626);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: var(--Black, var(--Black, #262626));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.64px;
    text-transform: lowercase;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
