.map {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 768px) {
    gap: 25px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  color: #8c8c8c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  cursor: pointer;
}

.titleActive {
  color: var(--text);
}

.address {
  color: var(--greyText-2);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  max-width: 600px;
}

.mapContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  -webkit-filter: grayscale(100);
  width: 100% !important;

  & > div,
  & > div > ymaps {
    width: 100% !important;
  }
}
