.wrapper {
  padding: 120px 0;
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #4c69d8 -9.42%,
      #3388d0 33.32%,
      #c4c1a9 54.62%,
      #ebbc88 76%,
      #ca8286 96.95%,
      #5348d1 119.26%
    )
  );

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.title {
  color: var(--Color, #fff);

  /* H1/desktop */
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 88px */
  letter-spacing: -3.2px;
  max-width: 754px;

  @media (max-width: 1439px) {
    color: var(--Color, #fff);

    /* H2/desktop */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
    letter-spacing: -1.6px;
  }

  @media (max-width: 767px) {
    color: var(--Color, #fff);

    /* H1/mobile */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    letter-spacing: -1.2px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 32fr 40fr 28fr;
  grid-template-areas: 'choice resume resume' 'choice answer comment';
  gap: 20px;

  @media (max-width: 1439px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'choice' 'resume' 'answer' 'comment';
  }
}

.card {
  display: flex;
  padding: 18px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  background: var(--Color, #fff);

  &.choice {
    grid-area: choice;
  }

  &.resume {
    grid-area: resume;
  }

  &.answer {
    grid-area: answer;
  }
}

.comment {
  grid-area: comment;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 14px;
  padding-top: 18px;

  @media (max-width: 1439px) {
    margin-top: 58px;
  }

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

.cardTitle {
  color: var(--Black, #262626);

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  letter-spacing: -0.6px;

  @media (max-width: 767px) {
    color: var(--Black, #262626);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    letter-spacing: -0.64px;
  }
}

.cardDesc {
  color: var(--Black, #262626);

  /* Body text/desktop */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.cardCounter {
  color: var(--Violet, var(--Violet, #5348d1));

  /* Body text/desktop */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
  margin-top: auto;
}

.commenttext {
  color: var(--Color, #fff);
  max-width: 301px;

  /* Small body text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.64px;
}

.commentPersonInner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.commentName {
  color: var(--Color, #fff);

  /* Small body text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.64px;
}

.commentRole {
  color: rgba(255, 255, 255, 0.4);

  /* Caption/desktop */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.64px;
}

.commentInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
