@import '../public/fonts/fonts.scss';

:root {
  --container: 1440px;
  --background: #f3f3f3;
  --header: rgba(243, 243, 243, 0.6);
  --background2: #fff;
  --background3: #f3f3f3;
  --background4: #fff;

  --text: #262626;
  --greyText: rgba(38, 38, 38, 0.4);
  --greyText-2: rgba(38, 38, 38, 0.8);
  --modal: #f3f3f3;
  --button: #262626;
  --buttonText: #fff;
  --footerText: #f3f3f3;
  --card: #fff;
  --tag: #f3f3f3;
  --input: #121114;
  --inputBg: #f7f7f7;
  --themeInner: #444;
  --themeCircle: #838383;
  --tag: #f3f3f3;
  --tagText: #8c8c8c;
  --icon: #aaaaaa;
}

[data-theme='dark'] {
  --container: 1440px;
  --background: #0d0d0d;
  --header: rgba(13, 13, 13, 0.6);
  --background2: #121114;
  --background3: #262626;
  --background4: #262626;
  --tag: #121114;
  --text: #fff;
  --greyText: #8c8c8c;
  --greyText-2: #8c8c8c;
  --button: #fff;
  --card: #262626;
  --buttonText: #262626;
  --footerText: rgba(236, 236, 236, 0.5);
  --modal: #0d0d0d;
  --input: #fff;
  --inputBg: #121114;
  --themeInner: #343434;
  --themeCircle: #fff;
  --tag: #121114;
  --tagText: #8c8c8c;
  --icon: #5c5c5c;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

* {
  font-family: var(--font-suisse);
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-suisse-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-suisse-regular);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

p {
  word-wrap: break-word;
}

input {
  font-family: var(--font-suisse-regular);
}
