.wrapper {
  display: flex;
  align-items: center;
  gap: 37px;
  padding-top: 220px;
  padding-bottom: 220px;

  @media (max-width: 1439px) {
    flex-direction: column;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  color: var(--text);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
  letter-spacing: -1.6px;
  max-width: 609px;

  @media (max-width: 1439px) {
    max-width: unset;
  }

  @media (max-width: 767px) {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
    letter-spacing: -0.8px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media (max-width: 1439px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    gap: 40px;
  }
}

.attributes {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 1439px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    gap: 15px;
  }
}

.desc {
  color: var(--greyText-2);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.64px;
  max-width: 609px;

  @media (max-width: 1439px) {
    max-width: unset;
  }

  @media (max-width: 767px) {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.56px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.columnTitle {
  color: var(--button);
  font-family: Inter;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 132px */
  letter-spacing: -4.4px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 64.8px */
    letter-spacing: -2.16px;
  }
}

.columnDesc {
  color: var(--button);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.64px;
  white-space: pre-line;

  @media (max-width: 767px) {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 12px */
    letter-spacing: -0.4px;
    text-transform: lowercase;
  }
}

.image {
  width: 626px;
  height: 669px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  & img {
    object-fit: cover;
  }

  @media (max-width: 1439px) {
    width: 100%;
    height: 384px;
  }

  @media (max-width: 767px) {
    height: 257px;
  }
}
