name: "Push: prod"

on:
  workflow_dispatch:

jobs:
  deploy_front:
    runs-on:
      - front-soft-runner
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Create .env file
        run: |
          echo "NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}" >> .env
          
      - name: Deploy dev
        run: docker compose up -d --build soft-front-prod
